# Dependencies
node_modules

# Build output
dist
build

# Logs
npm-debug.log
yarn-error.log
pnpm-debug.log

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode
.idea

# Env files (optional but recommended)
.env
.env.local
.env.*.local
